<div class="circle-holder">
  <div class="circle-container">
    <div class="circle" id="circle1">
      <span class="item">Item a</span>
      <span class="item">Item b</span>
      <span class="item">Item c</span>
  </div>
  <div class="circle" id="circle2">
      <span class="item">Item a</span>
      <span class="item">Item d</span>
  </div>
  <div class="circle" id="circle3">
      <span class="item">Item b</span>
      <span class="item">Item d</span>
  </div>
  <div class="circle" id="circle4">
      <span class="item">Item z</span>
      <span class="item">Item 1</span>
      <span class="item">Item x</span>
      <span class="item">Item .</span>
      <span class="item">Item a</span>
      <span class="item">Item b</span>
      <span class="item">Item c</span>
      <span class="item">Item d</span>
  </div>
  </div>
</div>