<div class="top-menu-nav">
  <button class="btn_sm btn_black_white_bg" (click)="coreService.scrollToStart()">
    <fa-icon [icon]="['fas', 'info']"></fa-icon>
  </button>
  <button class="btn_sm btn_black_white_bg" (click)="coreService.scrollToNotSoNerds()">
    <fa-icon [icon]="['fas', 'chess-bishop']"></fa-icon>
  </button>
  <button class="btn_sm btn_black_white_bg" (click)="coreService.scrollToNerds()">
    <fa-icon [icon]="['fas', 'glasses']"></fa-icon>
  </button>
  <button class="btn_sm btn_black_white_bg" (click)="coreService.scrollToExample()">
    <fa-icon [icon]="['fas', 'gamepad']"></fa-icon>
  </button>
</div>